SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
SUPABASE_JWT_SECRET=
HF_TOKEN=
MOCK_MODE=true

COLAB_LLM_URL=        # URL pública de ngrok, ej: https://xxxx.ngrok-free.app
COLAB_API_KEY=moodify-colab-secret-2024 #Ejemplo